@using Microsoft.AspNetCore.Identity
@using Movie_Recommendation.Models;
@inject SignInManager<Movie_Recommendation.Models.ApplicationUser> signInManager;
@inject UserManager<Movie_Recommendation.Models.ApplicationUser> user;
@{
    var userSet = await user.GetUserAsync(User);
    var clientname = "";
   
    var count = 0;
    
   
   

}
<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- boostrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/old/css/style.css">
    <link rel="stylesheet" href="~/old/css/site.css">
    <link rel="stylesheet" href="~/old/css/Dash_board.css">
    <script src="path_to_ckeditor/build/ckeditor.js"></script>


    <!-- Remixicons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- page css -->
    <link rel="stylesheet" href="~/old/css/Settings.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/old/css/page/styles.css">
    <link rel="stylesheet" href="~/old/css/DashboardStyleSheet.css">
    @*<link href="~/assets/css_html/style.css" rel="stylesheet" type="text/css" />*@
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Quill -->
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

    <link href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <!-- Toaster -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <!-- chart.js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <!-- Include jQuery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.7/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    @*<script>
        let primColor = "@(settings.PrimaryColor)";
        let secColor = "@(settings.SecondaryColor)";

        if(primColor){
            document.documentElement.style.setProperty('--primary-color', primColor);
        }
        if(secColor){
            document.documentElement.style.setProperty('--secondary-color', secColor);
        }

    </script>*@


</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center secondary-color">



        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center mb-0">
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <ion-icon name="person-circle-outline" size="large"></ion-icon>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Logout">Log Out</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </nav>

    </header><!-- End Header -->

    <div class="pagebody-wrapper">
        <aside id="sidebar" class="Side-navigation primary-color">
            <ul class="sidebar-nav" id="sidebar-nav">


                @if (signInManager.IsSignedIn(User))
                {
                    <li class="list active" id="dashboard">
                        <a asp-controller="Home" asp-action="Dashboard">
                            <span class="icon">
                                <ion-icon name="speedometer-outline"
                                          data-bs-toggle="tooltip" data-bs-placement="right"
                                          data-bs-custom-class="custom-tooltip"
                                          data-bs-title="Dashboard"></ion-icon>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li class="list" id="job">
                        <a asp-controller="Home" asp-action="AllMovies">
                            <span class="icon">
                                <ion-icon name="film-outline"
                                          data-bs-toggle="tooltip" data-bs-placement="right"
                                          data-bs-custom-class="custom-tooltip"
                                          data-bs-title="Units"></ion-icon>
                            </span>
                            <span class="title">Movies</span>
                        </a>
                    </li>
                }

               
            </ul>

        </aside>

        <div class="container-fluid" id="main">

            @RenderBody()
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!--Datatalble -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js" asp-append-version="true"></script>



    @*my scripts starts here*@
    <!-- bootsrap js -->
    @*  <script src="~/lib/jquery/dist/jquery.min.js"></script>*@

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/old/js/quill.js"></script>
    <script src="~/old/js/quill.min.js"></script>
    <script src="~/old/js/Style.js"></script>
    <script src="~/old/js/loader.js"></script>
    @*<script src="~/js/Charts.js"></script>
        <script src="~/js/Doughnut.js"></script>*@

    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/%40alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js" asp-append-version="true"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/%40alpinejs/persist@3.x.x/dist/cdn.min.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
            integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>



    <script src="~/old/js/main.js" asp-append-version="true"></script>
    <script src="~/old/js/main1.js" asp-append-version="true"></script>
    <script src="~/old/js/site.js" asp-append-version="true"></script>
    <script src='~/old/js/modal-partial.js'></script>
    <script src="~/old/assets/vendor/quill/quill.min.js"></script>
    <script src="~/old/js/chat-script.js" asp-append-version="true"></script>
    <!-- Bootstrap JavaScript (Popper.js is included) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <partial name="_NotificationsPartial" />

   
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

    <script>
        // Assuming notificationCount contains the actual count
        document.getElementById('notificationBadge').innerText = notif;

    </script>
    <script>


        flatpickr("#datepicker23", {
            dateFormat: "d/m/Y",
            minDate: "today",
            // You can add more options here
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
