
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";

}
<div class="bg-blue banner_top">
    <div class="container">
        <div class="row pt-md-4 pb-3 pb-md-5 align-items-center">
            <div class="col-12 col-xl-5">
                <div class="font-54px font-black line-height-110 mb-2 mb-md-4">
                   Movie Recommendation System<br>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="common_section">


    </div>
    <div class="common_section">
       

        

    </div>

</div>



