@model Movie_Recommendation.ViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<style>
    .login_sign_screen {
        color: blue; /* General text */
    }

        .login_sign_screen *,
        .login_sign_screen *::placeholder {
            color: blue !important; /* Force all children including placeholders */
        }

        .login_sign_screen .form-control {
            border-color: blue;
        }

            .login_sign_screen .form-control:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 0, 255, 0.25);
            }

        .login_sign_screen .btn {
            background-color: white;
            border: 1px solid blue;
            color: blue;
        }

            .login_sign_screen .btn:hover {
                background-color: blue;
                color: white;
            }

        .login_sign_screen a {
            color: blue !important;
        }
</style>



<div class="loginScreen_content">



    <div>
        <div class="login_sign_screen px-4" style="background-color: #1e1e2f !important;">
            <div class="login_sign_screen_wrap">
                <div class="login_sign_screen_content">
                    <div class="font-30px font-bold mb-4">Sign up</div>

                    <div class="row">
                        <div class="col-12 col-md-6 border-end loginLeft mb-3 mb-md-0">
                            <form method="post">
                                <div class="pe-md-3 pe-xl-5">
                                    <div class="mb-4 position-relative">
                                        <div class="field_col">
                                            <div class="form-floating form-floating-v2">
                                                <input type="text" class="form-control h-44px" asp-for="Names" required id="floatingInputValue" placeholder="Enter your two names">
                                                <label for="floatingInputValue"><span class="floating_text">Name</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4 position-relative">
                                        <div class="field_col">
                                            <div class="form-floating form-floating-v2">
                                                <input type="email" class="form-control h-44px" asp-for="Email" required id="floatingInputValue" placeholder="johhn@example.com">
                                                <label for="floatingInputValue"><span class="floating_text">Email</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4 position-relative">
                                        <div class="field_col">
                                            <div class="form-floating form-floating-v2">
                                                <input type="password" class="form-control h-44px" asp-for="Password" id="password">
                                                <label for="password"><span class="floating_text">Password</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4 position-relative">
                                        <div class="field_col">
                                            <div class="form-floating form-floating-v2">
                                                <input type="password" class="form-control h-44px" asp-for="ConfirmPassword" id="cpassword">
                                                <label for="cpassword"><span class="floating_text">Confirm Password</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary font-18px font-medium h-44px w-100" type="submit">Sign up</button>
                                    </div>



                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="text-center font-14px font-medium bottomStrip">Already have account? <a asp-action="Login" class="link-primary text-decoration-underline font-medium cursor-pointer"> Log in</a></div>


                </div>
            </div>
        </div>
    </div>
</div>

